<%= form_for(@profile) do |f| %>
    <% if @profile.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

          <ul>
            <% @profile.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="row">
      <div class="large-8 large-centered columns">
        <%= f.label :firstname %><br />
        <%= f.text_field :firstname %>
      </div>
    </div>
    <div class="row">
      <div class="large-8 large-centered columns">
        <%= f.label :surname %><br />
        <%= f.text_field :surname %>
      </div>
    </div>
    <div class="row">
      <div class="large-8 large-centered columns">
        <%= f.label :birthday %><br />
        <%= f.date_select :birthday %>
      </div>
    </div>
    <div class="row">
      <div class="large-8 large-centered columns">
        <%= f.label :description %><br />
        <%= f.text_area :description %>
      </div>
    </div>
    <div class="row">
      <div class="large-8 large-centered columns">
        <div class="actions">
          <%= f.submit %>
        </div>
      </div>
    </div>
<% end %>