<div class="row" id="card">
  <div class="row">
    <div class="large-12 columns">
      <h1 class="h1">Listing Groups</h1>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <table>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>

        <% @groups.each do |group| %>
            <tr>
              <td><%= group.name %></td>
              <td><%= group.description %></td>
              <td><%= link_to 'Show', group %></td>
              <td><%= link_to 'Edit', edit_group_path(group) %></td>
              <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="large-4 large-centered columns" style="text-align: center">
      <%= link_to 'New Group', new_group_path %>
    </div>
  </div>
</div>


