<div class="row">
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation" class="large-6 columns">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
</div>
<div class="row">
  <div class="large-6 columns">
    <%= f.text_field :email, :placeholder => 'E-Mail' %>
  </div>
</div>
 <div class="row">
  <div class="large-6 columns">
    <%= f.password_field :password, :placeholder => 'Password' %>
  </div>
</div>
<div class="row">
  <div class="large-6 columns">
  <%= text_field :profile, :firstname, :placeholder => "Firstname" %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
</div>
