<div class="row" id="card">
  <div class="row">
    <%= form_for(@user) do |f| %>
        <% if @user.errors.any? %>
            <div id="error_explanation" class="large-6 columns">
              <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

              <ul>
                <% @user.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
    </div>
        <div class="row">
          <div class="large-12 columns">
			<%= f.label :free, raw("Free #{f.radio_button(:mode, "free", id: "user_free", checked: @free)}") %>
			<%= f.label :premium, raw("Premium #{f.radio_button(:mode, "premium", id: "user_premium", checked: @premium)}") %>
            <%= f.text_field :email, :placeholder => 'E-Mail' %>
            <%= f.password_field :password, :placeholder => 'Password' %>
            <%= text_field :profile, :firstname, :placeholder => "Firstname" %>
            <div class="actions">
              <%= f.submit %>
            </div>
    <% end %>
    </div>
    </div>
</div>

