<div class="row" id="card">
  <div class="row">
    <div class="large-12 columns"><h1 class="h1">Search Users</h1></div>
  </div>
  <div class="row">
    <div class="large-12 columns" style="text-align: center">
      <%= form_tag({controller: "users", action: "search"}, method: "get") do %>
          <p>
            <%= text_field_tag :q, params[:q] %>
            <%= submit_tag "Search", :name => nil %>
          </p>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <table>
        <tr>
          <th>Firstname</th>
          <th>Surname</th>
          <th>Description</th>
          <th>Birthday</th>
          <th></th>
        </tr>
        <% if not @results.nil?
             @results.each do |profile| %>
                <tr>
                  <td><%= profile.firstname %></td>
                  <td><%= profile.surname %></td>
                  <td><%= profile.description %></td>
                  <td><%= profile.birthday %></td>
                  <td><%= link_to 'Show', profile %></td>
                </tr>
            <% end
               end %>
      </table>
    </div>
  </div>
</div>



