<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.profile.firstname %> left your group <%= @group.name %></h1>
    <p>
      The user <a href="<%= @url %>/users/show/<%= @user.profile.id %>"><%= @user.profile.firstname %></a> left your group <a href="<%= @url %>/groups/show/<%= @group.id %>"><%= @group.name %></a>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>/users/login.
    </p>
  </body>
</html>