<% if not @results.nil? %>
    <table>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <% @results.each do |route| %>
          <tr>
            <td style="word-break:break-all;word-wrap:break-word; width:25%"><%= route.name %></td>
            <td>
              Wegpunkte: <br>
              <% route.address.each do |x| %>
                  <%= x["strasse"] %> <%= x["hausnummer"] %>, <%= x["plz"] %> <%= x["ort"] %> <%= x["Land"] %>
                  <br>
                  <% end %>
            </td>
            <td><%= link_to 'Show', :controller => 'routes', :action => 'show', :id => route.id, :service => @service %></td>
          </tr>
    <% end %>
</table>
<% end %>