<h1>New Route</h1>

<%= form_tag({controller: "routes"}) do %>
  <p>
    <%= text_field_tag :name, params[:name], :placeholder => 'Name' %>
  </p>
  <p>
	<%= text_field_tag :address, params[:address], :placeholder => 'Points of interests (comma seperated)', 'size' => 50 %>
  </p>
<%= render 'addGroup' %>
  <p>
      <%= submit_tag "Create Route", :name => nil %>
  </p>
<% end %>

<%= link_to 'Back', routes_path %>
