<div class="row">
    <div class="large-12 columns">
	<h1>Search Routes</h1>	
	<%= form_tag({controller: "routes", action: "search"}, :method => 'get') do %>
      <div class="row collapse">
        <div class="small-10 columns">
              <%= text_field_tag :q, params[:q]%>
        </div>
        <div class="small-2 columns">
          <%= submit_tag "Search", :name => nil, :class => 'button postfix' %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% if not @results.nil? %>
<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @results.each do |route| %>
  <tr>
    <td><%= route.name %></td>
    <td><%= route.address %></td>
    <td><%= link_to 'Show', :controller => 'routes', :action => 'show', :id => route.id %></td>
  </tr>
<% end 
end %>
</table>