<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
<script>
    var directionsDisplay;
    var directionsService = new google.maps.DirectionsService();
    var map;

    function initialize() {
        directionsDisplay = new google.maps.DirectionsRenderer();
        var chicago = new google.maps.LatLng(41.850033, -87.6500523);
        var mapOptions = {
            zoom: 6,
            center: chicago
        }
        map = new google.maps.Map(document.getElementById('map'), mapOptions);
        directionsDisplay.setMap(map);
    }

    function calcRoute() {
        var data = <%= @route.address.to_json.html_safe %>
        var start = data[0];
        start = start.strasse + " " + start.hausnummer + ", " + start.plz + " " + start.ort + " " + start.Land;
        var end = data[data.length - 1];
        end = end.strasse + " " + end.hausnummer + ", " + end.plz + " " + end.ort + " " + end.Land;

        var waypts = [];

        for(i = 1; i < data.length - 1; i++){
            var temp = data[i].strasse + " " + data[i].hausnummer + ", " + data[i].plz + " " + data[i].ort + " " + data[i].Land;
            waypts.push({location:temp, stopover:true});
        }

        var request = {
            origin: start,
            destination: end,
            waypoints: waypts,
            optimizeWaypoints: true,
            travelMode: google.maps.TravelMode.BICYCLING
        };
        directionsService.route(request, function(response, status) {
            if (status == google.maps.DirectionsStatus.OK) {
                directionsDisplay.setDirections(response);
            }
        });
    }
</script>

<div class="row" id="card">
  <div class="row">
    <div class="large-12 columns">
      <h1 class="h1">Routen</h1>
    </div>
  </div>
  <div class="row">
    <div class="large-12 large-centered columns">
      <div id="map" style="height:350px;"><script>initialize();calcRoute();</script></div>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <p>
        <b>Name:</b>
        <%= @route.name %>
      </p>

      <p>
        <b>Address:</b>
        <% @route.address.each do |x| %>
			<%= x["strasse"] %> <%= x["hausnummer"] %>, <%= x["plz"] %> <%= x["ort"] %> <%= x["Land"] %><br>
		<% end %>
      </p>
      <%= form_tag({controller: "routes", action: "add"}) do %>
          <%= render 'addGroup' %>
          <p> &nbsp; </p>
          <%= text_field nil, :route_id, :type => 'hidden', :value => @route_id %>
          <%= submit_tag "Add Route", :name => nil, :class=>"button" %>
      <% end %>
    </div>
  </div>
</div>