<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">BicycleOnRails</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
		<li id="login">
		 <%= link_to 'Log In', '#', :id => 'register' %>
		<%= form_tag({:controller => 'users', :action => 'authenticate'}, :style => 'display: none', :id=>'loginform') do %>		
		  <div class="row">
			<div class="large-5 columns">
				<%= text_field_tag :email, params[:email], :placeholder => 'E-Mail' %> 
			</div>
			<div class="large-5 columns">
				<%= password_field_tag :password, params[:password], :placeholder => 'Passwort' %>
			</div>
			<div class="large-2 columns">
				<%= submit_tag "Log in", :class => "button alert expand" %>
			</div>
		  </div>
		  <% end %>		 
		</li>
		<li>
		 <%= link_to 'Register', :controller => 'users', :action => 'new' %>
		</li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
	  
    </ul>
  </section>
</nav>
<script>
$( "#register" ).click(function() {
  $(this).hide();
  $('#login').addClass('has-form');
  $( "#loginform" ).animate({
    left: "toggle"
  }, 0, function() {
    $('#email').focus();
  });
});

</script>