<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bicycle on Rails</title>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag("application") %>
  <%= csrf_meta_tags %>	
  </head>
  <body>
<% if session[:user_id].nil? %>
<%= render 'layouts/guest_menu' %>
<% else %>
<%= render 'layouts/user_menu' %>
<% end %>
<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: "alert-box radius #{name}" %>
<% end -%>
<%= yield %>
  <%= javascript_include_tag "foundation" %>
    <script>
$(document).ready(function(){
  $(document).foundation();
});
    </script>
  </body>
</html>